<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a href="/"><h1 class="mat-display-1">{{title}}</h1></a>
  <span>Logged in user: {{humanService.loggedInUser.name}}</span>
  <app-switch (testEvent)="eventFunction($event)"></app-switch>
</div>

<!-- Main content view -->
<div [ngClass]="getContentClass()" >
  <app-sidebar></app-sidebar>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>


<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
