.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #31485D;
  color: var(--bright);
  padding-left: 4rem;
  font-family: "avenir", monospace;
  transition: background-color 1s ease-in-out;
  @media (min-width: 1200px ) {
    background-color: greenyellow;
  }
}

.button{
  justify-content: flex-end;
}

.toolbar img {
  margin: 0 16px;
}

.content {
  display: grid;
  grid-template-columns: 20% 80%;
  //grid-template-rows: 100%;
  grid-column-gap: 2rem;
  background-color: var(--bright);
  transition: background-color 1s;
  //@media (min-width: 700px ) {
  //  grid-template-columns: 20% 80%;
  //}
}
