<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h1 class="mat-display-1">Welcome to Productivity</h1>
  <button (click)="test()" class="button">dark/light</button>
</div>

<!-- Main content view -->
<div class="content">
  <app-sidebar class="sidebar"></app-sidebar>
  <app-todolist-box class="todolist"></app-todolist-box>
</div>
<!--<router-outlet></router-outlet>-->

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
<script>

</script>
