@import '../variablen';

.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #31485D;
  color: var(--bright);
  padding: 0 $padding-lg;
  font-family: "avenir", monospace;
  transition: background-color 1s ease-in-out;
  @media (min-width: 1200px ) {
    background-color: #31485D;
  }
}

.content {
  display: grid;
  grid-template-columns: 20% calc(80% - 2rem);
  grid-column-gap: 2rem;
  background-color: var(--bright);
  transition: background-color 1s;
  //@media (min-width: 700px ) {
  //  grid-template-columns: 20% 80%;
  //}
}
