.sidebarelement {
  position: relative;

  &__title {
    color: #ffffff;
    font-size: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0;
    background-color: #A8BEC5;

    &:hover {
      background-color: #81949b;
    }
  }

  &__items {
    &:nth-child(odd) {
      color: #ffffff !important;
      background-color: #AD946E;

      &:hover {
        background-color: #9b8267;
      }
    }
    &:nth-child(even){
      &:hover {
        background-color: #C0C6C4;
        color: #ffffff ;
      }
    }
  }

  &__item {
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 2rem;
  }
}




