<!-- To-Do-List -->
<div class="sidebarelement">
  <h3 class="sidebarelement__title" id="todo-list" (click)="onClickToToDos()">
    ToDo-Lists
  </h3>

  <div *ngIf="isOpenTodoLists">
    <div class="sidebarelement__items" *ngFor="let todolist of todolists">
      <div class="sidebarelement__item" (click)="onSelectTodolist(todolist)">
        {{todolist.name}}
      </div>
    </div>
  </div>
</div>


<div class="sidebarelement">
  <h3 class="sidebarelement__title" (click)="onClickToChats()">
    Chats
  </h3>

  <div *ngIf="isOpenChats">
    <div class="sidebarelement__items" *ngFor="let chat of chats">
      <div class="sidebarelement__item">{{chat.id}}</div>
    </div>

  </div>
</div>

