<!-- To-Do-List -->
<div class="sidebarelement">
  <h3 class="sidebarelement_title" (click)="goToToDos()">
    ToDo-Lists
  </h3>

  <div class="sidebarelement_items" *ngFor="let todolist of todolists">
    <div class="sidebarelement_item">{{todolist}}</div>
  </div>
</div>


<div class="sidebarelement">
  <h3 class="sidebarelement_title" (click)="goToChats()">
    Chats
  </h3>

  <div class="sidebarelement_items" *ngFor="let chat of chats">
    <div class="sidebarelement_item">{{chat.id}}</div>
  </div>
</div>

