.message__p {
  color: #000000;
  font-size:1.4rem;
}

.title {
  padding-top: 1rem;
  color: #000000;
  font-size:3rem;
}

.message__users {
  display: flex;
  justify-content: space-between;
  padding-right: 5rem;
}
