<div class="messages">
<div class="title">{{title}}</div>

<div *ngFor="let message of  messages">
  <div class="message__box">
    <div [ngClass]="getContentClass(message, this.humanService.loggedInUser.id)">

      <div class="message__content">
        <p class="message__p">{{message.text}}</p>


        to: <span>{{message.receiver.id}}, {{message.receiver.name}}, {{message.receiver.skinColor}}</span>

        from: <span>{{message.sender.id}}, {{message.sender.name}}, {{message.sender.skinColor}}</span>
      </div>
    </div>
  </div>
</div>
<div class="message__input-wrapper">
  <input class="message__input" #newMessage (keyup.enter)="sendMessage(newMessage.value,3)">
</div>

</div>
