.todolist_title{
  font-size: 4rem;
  color:#A8BEC5;
}

.todolost_item{
  font-size: 1.5rem;
  color: #000000;
}

.todolist_content{
  font-size:1.5rem;
}

.todolist_content_item{

  padding-left: 2rem;
}
