.todolist {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 2rem;

  &__line {
    display: flex;
    justify-content: space-between;
    padding-right: 10rem;
  }

  &__content {
    font-size: 1.5rem;
  }

  &__item {
    padding-left: 2rem;
  }

  &__title {
    font-size: 4rem;
    color: var(--dark);
  }

  &__entries {
    background-color: var(--yellow);
    padding: 2rem;
    border-radius: 1rem;
  }

  &__input{
    width: 100%;
  }
}

.first__line {
  display: flex;
  justify-content: space-between;
  padding-right: 10rem;
}

